* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/warehousebg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.gameTitle {
  font-size: xxx-large;
  text-shadow: 5px 4px 5px #ff0000;
}

.dificultyScreen {
  background-color: #eb6728;
  text-align: -webkit-center;
}

.starterQuestion {
  width: 80%;
}

.startButton {
  margin: 10px;
}

input {
  margin: 10px;
}

.gameBoard {
  background-color: lightgray;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.cannonDisplay {
  width: 250px;
  height: 280px;
  display: none;
  margin-right: 100px;
  background-color: #eb6728;
  text-align: center;
  opacity: 85%;
}

#cannon {
  width: 100px;
  float: right;
  margin-top: -40px;
}

#stickman {
  width: 100px;
}

#matchstick {
  width: 100px;
  margin-left: -55px;
}

.mainDisplay {
  display: flex;
  flex-direction: row;
}

.grid-item {
  padding: 2em;
  border: 2px solid black;
  text-align: center;
}

.gameStatus {
  display: flex;
  flex-direction: row;
  background-color: gray;
  text-align: end;
  display: none;
}

.numberOfFriends {
  width: 25%;
}

.numberOfFlags {
  width: 25%;
}

.timer {
  width: 40%;
}

button.valid-square {
  background-color: green;
  cursor: not-allowed;
}

button.wrong-square {
  background-color: red;
  cursor: not-allowed;
}

.restartButton {
  display: none;
  width: 50%;
  justify-content: center;
  margin-left: 25%;
  font-size: xx-large;
  margin-top: 20px;
}

.restartButtonWin {
  display: none;
  width: 50%;
  justify-content: center;
  margin-left: 25%;
  font-size: xx-large;
  margin-top: 20px;
  background-color: lightblue;
}

.restartButtonWin:hover {
  background-color: blue;
}

.restartButtonLose {
  display: none;
  width: 50%;
  justify-content: center;
  margin-left: 25%;
  font-size: xx-large;
  margin-top: 20px;
  background-color: lightblue;
}

.restartButtonLose:hover {
  background-color: blue;
}

.winnerScreen {
  background-color: lightgray;
  opacity: 85%;
  text-align: center;
  display: none;
  z-index: 1;
  position: fixed;
  top: 25%;
}

.loserScreen {
  background-color: lightgray;
  background-image: url(../images/blood-splat.png);
  background-size: cover;
  opacity: 85%;
  text-align: center;
  display: none;
  z-index: 1;
  position: fixed;
  top: 25%;
}

@media only screen and (max-width: 880px) {
  .gameTitle {
    font-size: xx-large;
  }
}

@media only screen and (max-width: 710px) {
  .gameTitle {
    font-size: x-large;
  }
  .dificultyScreen {
    width: 500px;
  }
}

@media only screen and (max-width: 651px) {
  .cannonDisplay {
    margin-right: 15px;
    font-size: x-small;
    width: 150px;
    height: 190px;
    margin-right: 15px;
  }
  #stickman {
    width: 70px;
    margin-left: -43px;
  }
  #matchstick {
    width: 62px;
    margin-left: -36px;
  }
  #cannon {
    width: 70px;
    float: right;
    margin-top: -20px;
  }
}

@media only screen and (max-width: 500px) {
  .gameTitle {
    font-size: large;
  }
  .dificultyScreen {
    width: 350px;
  }
}
